<div class="container p-4 text-center">
    <div class="row">
        <div class="col-4 ">
            <div class = "card" style="width:300px; ">
                <div class="card-body"> <h3> Agregar Vuelo</h3>
                <form action="/links/verificar-pista" method="POST">
                    <div class="form-group" required="required"> Origen
                            <select type= "text" name="nombre_aeropuerto_llegada" class="form-control" >
                                {{#each aeropuerto}}
                                <option>{{nombre_aeropuerto}}</option>
                                {{/each}}
                            </select>
                    </div>
                    <div class="form-group" required="required"> Destino
                            <select type= "text" name="nombre_aeropuerto_salida" class="form-control" >
                                {{#each aeropuerto}}
                                <option>{{nombre_aeropuerto}}</option>
                                {{/each}}
                            </select>
                    </div>
                    <button class="btn btn-success btn-block">
                            SAVE
                    </button>
                </form>
            </div>
            </div>
            
        </div>
        <div class="col-8">
            <h1>Itinerario vuelos</h1>
            <ul class="list-group">
                {{#each tabla}}
                    <li class="list-group-item">Numero vuelo: {{numero_vuelo}}  [Hora salida: {{hora_salida}} Hora llegada: {{hora_llegada}}] Modelo {{nombre_avion_modelo}} Llegada: {{nombre_aeropuerto}}</li>
                {{/each}}
            </ul>

        </div>
    </div>
</div>